@use "./variables.scss" as *;

.container {
    width: 100%;
    max-width: 100%;
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
    margin: 0 auto;
    box-sizing: border-box;

    @media (min-width: $breakpoint-sm) {
        max-width: $breakpoint-sm;
    }

    @media (min-width: $breakpoint-md) {
        max-width: $breakpoint-md;
    }

    @media (min-width: $breakpoint-lg) {
      max-width: $breakpoint-lg;
    }

    @media (min-width: $breakpoint-xl) {
      max-width: $breakpoint-xl;
    }
}
